body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

input {
    width: 60px;
    margin: 5px;
}

button {
    margin: 10px 5px 20px 0;
    padding: 5px 10px;
    font-size: 16px;
}

#timerDisplay {
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
}